.special__dropdown-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.special__dropdown {
  position: relative;
  display: inline-block;
}

/* Кнопка выпадающего списка */
.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;


  border: 1px solid #c5358c;
  border-radius: 3px;
  padding: 7px 25px 8px;

  transition: var(--transition);
}

@media (width > 768px) {
  .dropdown__button {
    font-size: 18px;
  }
}
@media (width <= 768px) {
  .dropdown__button {
    font-size: 12px;
  }
}

.dropdown__button:focus {
  color: var(--accent-color);
}
.dropdown__button-arrow {
  transition: var(--transition);
}

.dropdown__button:focus .dropdown__button-arrow {
  transform: rotateX(180deg);
}

/* Выпадающее меню */
.dropdown__menu {
  position: absolute;
  top: calc(100% + 5px);
  background: #fdfdfd;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  transition: var(--transition);
  z-index: var(--layer-3);

  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
}

.special__dropdown.active .dropdown__menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Элементы меню */
.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 25px;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;

  transition: var(--transition);
}

.dropdown__item:last-child {
  border-bottom: none;
}

.dropdown__item.active {
  color: var(--main-color);
  font-weight: 400;
}

.dropdown__item.active::after {
  content: "";
  width: 17px;
  height: 21px;
  background: url("../../icons/foil.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(25%);
  float: right;
}
