.menu__list {
  display: flex;
  gap: 30px;
}

@media (width > 1250px) {
  .menu__list {
    align-items: center;
  }
}
@media (width <= 1250px) {
  .menu__list {
    z-index: var(--layer-2);
    width: 50%;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: var(--main-color);
    box-shadow: -2px 0 20px var(--main-color);
    padding-top: 145px;
    padding-left: 30px;
    top: 0;
    left: -100vw;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .menu__list--open {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

.menu__link {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 20px;
  color: var(--bg-color);
}