html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 84px;
  font-family: 400;
  text-transform: uppercase;
  color: #2c332f;
}
.logo:first-child {
  font-size: 21px;
}
.logo:last-child {
  font-size: 22px;
}

.hero__btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  padding: 19px 32px;
  background: #3596ed;

  transition: all 0.4s;
}
.hero__btn:hover {
  opacity: 0.75;
}
.hero__btn:not(:disabled):active {
  background: #225f94;
}
button.hero__btn:disabled {
  opacity: .65;
  cursor: default;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible { 
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}