.hero {
  padding: 80px 0 140px;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 38vh;
  z-index: -1;
  width: 100%;
  height: 48px;
  background: url("../images/decor-large.svg") repeat-x;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

/* ========================================= */

/* ========================================= */
.hero__programm {
  max-width: 492px;
}
.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #2c332f;

  margin-bottom: 40px;
}
.hero__title span {
  color: #3596ed;
}
.hero__text {
  line-height: 1.3;
  color: #535755;

  max-width: 439px;
  margin-bottom: 140px;
}

.hero__coach {
  display: flex;
  justify-content: center;
  position: relative;
}
.hero__img {
  display: flex;
}
.hero__choice {
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  color: #2c332f;

  border: 1px solid #535755;
  padding: 22px 0;
  top: 40px;
  max-width: 160px;
  background: #ffffffe6;
}

/* ======================= */

.card {
  padding-bottom: 140px;
}
.card__list {
  display: flex;
  gap: 28px;
}
.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #2c332f;

  margin-bottom: 40px;
}

.card__item {
  border: 1px solid #d3cbd9;
  background: #fff;
  max-width: 284px;
}
.card__img {
  width: 100%;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.card__date {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}
.card__text {
  line-height: 1.3;
  margin-bottom: 4px;
  color: #2c332f;
}
.card__link {
  line-height: 1.3;
  color: #3596ed;

  transition: all 0.4s;
}
.card__link path {
  fill: #3596ed;
  transition: all 0.4s;
}

.card__link:hover path {
  fill: #005eb1;
}
.card__link:hover {
  color: #005eb1;
}

.faq {
  padding-bottom: 100px;
  position: relative;
}
.faq::before {
  content: "";
  position: absolute;
  top: 30vh;
  z-index: -1;
  width: 40%;
  height: 48px;
  background: url("../images/decor-large.svg") repeat-x;
}
.faq__inner {
}
.faq__inner {
  display: flex;
  gap: 28px;
}
.faq__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faq__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.faq__img {
  width: 492px;
  height: 531px;
}
.acordion-faq {
  padding-top: 99px;
}

.faq__text {
  line-height: 1.3;
  color: #535755;
}
.faq__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #2c332f;
}

details {
  margin-bottom: 20px;
  border-block: 1px solid #d3cbd9;
}

details[open] summary::after {
  transform: rotate(180deg);
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  padding: 20px;
  cursor: pointer;
}
summary::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 22px;
  background: url("../images/bottom.svg") no-repeat center / cover;
}
summary::-webkit-details-marker {
  display: none;
}

details > p {
  padding: 0 20px 20px;
}
