.characteristics__video {
  position: relative;
}

@media (width > 576px) {
  .characteristics__video {
    margin-bottom: 60px;
  }
}
@media (width <= 576px) {
  .characteristics__video {
    margin-bottom: 40px;
  }
}

.characteristics__video-preview {
  overflow: hidden;
  border: 1px solid var(--main-color);
  border-radius: 12px;
}

.characteristics__video-play-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  border: var(--border-sm) var(--main-color);
  border-radius: 50%;

  box-shadow: var(--shadow-glow-main-m), inset var(--shadow-glow-main-m);
  background-color: var(--bg-glow-color);

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  transition: var(--transition-all);
}

.characteristics__video-play-link:active {
  border-color: var(--accent-color);
  box-shadow: var(--shadow-glow-accent-m), inset var(--shadow-glow-accent-m);
}
@media (any-hover: hover) {
  .characteristics__video-play-link:hover {
    border-color: var(--accent-color);
    box-shadow: var(--shadow-glow-accent-m), inset var(--shadow-glow-accent-m);
  }
}

@media (width > 576px) {
  .characteristics__video-play-link {
    width: 80px;
    height: 80px;
  }

  .characteristics__video-play-icon {
    width: 17px;
    height: 24px;
    transform: translateX(2.2px);
  }
}
@media (width <= 576px) {
  .characteristics__video-play-link {
    width: 48px;
    height: 48px;
  }

  .characteristics__video-play-icon {
    width: 10px;
    height: 13px;
    transform: translateX(1.2px);
  }
}

.characteristics__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
}

@media (width > 576px) {
  .characteristics__list {
    gap: 40px 20px;
  }
}
@media (width <= 576px) {
  .characteristics__list {
    gap: 40px 0;
  }
}

.characteristics__card-icon {
  margin-bottom: 4px;
  transform: translateX(-8px);
}

@media (width <= 576px) {
  .characteristics__card-icon {
    width: 48px;
  }
}

.characteristics__card-title {
  margin-bottom: 20px;
}

.characteristics__card-description {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
}
