.hero {
  position: relative;
}

@media (width > 576px) {
  .hero {
    padding-bottom: 94px;
  }
}

@media (width <= 576px) {
  .hero {
    padding-bottom: 80px;
  }
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* min-width: 375px max-width: 922px */
  min-height: clamp(433px, 13.823rem + 56.49vw, 742px);
}

.hero__header {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@media (width > 768px) {
  .hero__header {
    align-items: center;
    padding-top: 11vh;
  }
}

@media (width <= 768px) {
  .hero__header {
    flex-direction: column;
  }
}

.hero__benefits-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (width > 768px) {
  .hero__benefits-list {
    position: absolute;
    left: 0;
  }
}

.hero__benefits-item {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero__title {
  display: flex;
  justify-content: center;
  /* min-width: 375px max-width: 1920px */
  gap: clamp(8px, 0.09rem + 1.75vw, 35px);
  font-weight: 600;
  /* min-width: 375px max-width: 1920px */
  font-size: clamp(48px, 1.786rem + 5.18vw, 128px);
  text-transform: uppercase;
  color: var(--main-color);
}
.hero__title-accent {
  color: transparent;
}

@media (width > 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 3px var(--accent-color);
  }
}
@media (width <= 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 1.5px var(--accent-color);
  }
}

.hero__img {
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--layer-negative);
}

.hero__footer {
  text-align: right;
  /* display: flex;
  justify-content: flex-end; */
}
@media (width < 768px) {
  .hero__footer {
    padding-bottom: 30px;
  }
}
.hero__details {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);

  transition: var(--transition-all);
}

@media (any-hover: hover) {
  .hero__details:hover {
    color: var(--accent-color);
  }
}

.hero__details-icon {
  stroke: currentColor;
}
