.menu__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.3;
  color: var(--main-color);
  transition: var(--transition-all);
}
.menu__link:active {
  color: var(--accent-color);
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accent-color);
  }
}
