.top-models__product-title {
  color: var(--main-color);
}

.top-models__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.top-models__product {
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  box-shadow: var(--shadow-glow-accent-m), inset var(--shadow-glow-accent-m);
}

.top-models__product-link {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 204px;
  color: var(--main-color);

  transition: var(--transition-all);
}

.top-models__product-link:active {
  color: var(--accent-color);
}
@media (any-hover: hover) {
  .top-models__product-link:hover {
    color: var(--accent-color);
  }
}

@media (width > 576px) {
  .top-models__product-link {
    padding: 30px;
  }
}
@media (width <= 576px) {
  .top-models__product-link {
    padding: 20px;
  }
}

.top-models__product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width > 768px) {
  .top-models__product-content {
    flex-shrink: 0;
  }
}

.top-models__product-title {
  color: currentColor;
}

@media (width > 768px) {
  .top-models__product-title {
    max-width: 149px;
  }
}
@media (width <= 480px) {
  .top-models__product-title {
    max-width: 139px;
  }
}

.top-models__product-icon {
  stroke: currentColor;
}

.top-models__product-img-wrapper {
  align-self: flex-end ;
}

.top-models__product-img {
  width: 100%;
}

@media (width <= 480px) {
  .top-models__product-img {
    max-width: 156px;
  }
}