body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 18px;
  color: #363b3f;
  background-color: #7979796b;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* ================================== */

.header {
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 15px;
  border-bottom: solid 3px #00000052;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.header__tel {
  font-weight: 500;
  text-decoration: underline;
}