@media (width > 1250px) {
  .expert {
    height: 825px;
  }
}

@media (width > 768px) {
  .expert {
    background: #f8f8f8;
  }
}
@media (width <= 768px) {
  .expert {
    background: #f5f5f5;
  }
}
@media (width <= 465px) {
  .expert {
    background: #f8f8f8;
  }
}

.expert__container {
  position: relative;
}

.expert__wrapper {
  position: relative;
  z-index: var(--layer-2);
}

@media (width > 768px) {
  .expert__wrapper {
    max-width: 744px;
  }
}

@media (width > 768px) {
  .expert__title {
    margin-bottom: 40px;
  }
}
@media (width <= 768px) {
  .expert__title {
    margin-bottom: 20px;
  }
}
@media (width <= 465px) {
  .expert__title {
    font-size: 20px;
  }
}

br {
  margin: 20px;
}

.expert__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width > 768px) {
  .expert__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--second-color);
  }
}
@media (width <= 768px) {
  .expert__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    color: var(--second-color);
  }
}
@media (width <= 465px) {
  .expert__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
  }
}

.expert__bg-img {
  position: absolute;
  z-index: var(--layer-1);
  right: 0;
  top: -15px;
}

@media (width <= 1250px) {
  .expert__bg-img {
    display: none;
  }
}
