* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h3 {
  font-weight: 900;
}

.container {
  background: #cfcfcf;
  border: solid 1px black;
  overflow: auto;
  border-radius: 20px 0 0 20px;
  height: 500px;
}

.cart {
  background: #c4a51d;
  border: solid 1px black;
  width: 200px;
  height: auto;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  box-shadow: inset 0 0 5px 5px #00000071;
}
