:root {
  /* font-family */
  --font-family: "Montserrat", sans-serif;

  /* colors */
  --main-color: #fff;
  --main-glow-color: #ffffff4d;
  --accent-color: #ffea00;
  --accent-glow-color: #ffea004d;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disabled-color: #5d5d56;
  --disabled-glow-color: #5d5d564d;
  --shadow-color: #181817;

  /* shadows */
  --shadow-glow-main-sm: 0 0 10px 1px var(--main-glow-color);
  --shadow-glow-accent-sm: 0 0 10px 1px var(--accent-glow-color);
  --shadow-glow-disabled-sm: 0 0 10px 1px var(--disabled-glow-color);

  /* borders */
  --border-sm: 1px solid;


  /* container */
  --container-width: 1240px;
  --container-padding: 15px;

  /* transition */
  --transition-all: all 0.4s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
