.hero {
  padding: 80px 0 140px;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 38vh;
  z-index: -1;
  width: 100%;
  height: 48px;
  background: url("../images/decor-large.svg") repeat-x;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  border-bottom: 1px solid #d3cbd9;
}
.hero__inner {
  display: flex;
  justify-content: space-between;
}

/* ========================================= */

.header__tel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 240px;
  text-align: right;

  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}
.header__tel a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;

  transition: all 0.4s;
}
.header__tel a:hover {
  color: #3596ed;
}

/* ========================================= */
.hero__programm {
  max-width: 492px;
}
.hero__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #2c332f;

  margin-bottom: 40px;
}
.hero__title span {
  color: #3596ed;
}
.hero__text {
  line-height: 1.3;
  color: #535755;

  max-width: 439px;
  margin-bottom: 140px;
}
.hero__btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  padding: 19px 32px;
  background: #3596ed;

  transition: all 0.4s;
}
.hero__btn:hover {
  opacity: 0.75;
}
.hero__coach {
  display: flex;
  justify-content: center;
  position: relative;
}
.hero__img {
  display: flex;
}
.hero__choice {
  position: absolute;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  color: #2c332f;

  border: 1px solid #535755;
  padding: 22px 0;
  top: 40px;
  max-width: 160px;
  background: #ffffffe6;
}

/* ======================= */

.card {
  padding-bottom: 140px;
}
.card__list {
  display: flex;
  gap: 28px;
}
.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #2c332f;

  margin-bottom: 40px;
}

.card__item {
  border: 1px solid #d3cbd9;
  background: #fff;
  max-width: 284px;
}
.card__img {
  width: 100%;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
.card__date {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}
.card__text {
  line-height: 1.3;
  margin-bottom: 4px;
  color: #2c332f;
}
.card__link {
  line-height: 1.3;
  color: #3596ed;

  transition: all 0.4s;
}
.card__link path {
  fill: #3596ed;
  transition: all 0.4s;
}

.card__link:hover path {
  fill: #005eb1;
}
.card__link:hover {
  color: #005eb1;
}
