.hero {
  display: flex;
  background: var(--hero-bg);
}

@media (width > 900px) {
  .hero {
    height: 850px;
  }
  .hero__container {
    align-items: center;
  }
  .hero__bg-image {
    max-width: 752px;
    bottom: 0;
  }
}
@media (width <= 900px) {
  .hero {
    height: 389px;
  }
  .hero__bg-image {
    max-width: 373px;
    max-height: 389px;
    bottom: 0;
  }
}
@media (width <= 576px) {
  .hero {
    height: 392px;
  }
  .hero__bg-image {
    max-width: 255px;
    max-height: 274px;
  }
}

.hero__container {
  position: relative;
  display: flex;
  height: 100%;
}

.hero__bg-image {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
}

.hero__content {
  z-index: 1;
  max-width: 556px;
}
@media (width > 900px) {
  .hero__title {
    margin-bottom: 40px;
  }
  .hero__text {
    margin-bottom: 90px;
  }
}
@media (width <= 900px) {
  .hero__title {
    padding-top: 80px;
    margin-bottom: 20px;
  }
  .hero__text {
    margin-bottom: 40px;
  }
}
@media (width <= 576px) {

  .hero__title {
    padding-top: 50px;
    margin-bottom: 16px;
  }
  .hero__text {
    margin-bottom: 30px;
  }
}

.hero__title {
  font-size: clamp(24px, 0.848rem + 2.82vw, 46px);
  max-width: clamp(18.125rem, 11.147rem + 32.84vw, 34.75rem);
  line-height: 1.03;
}

.hero__text {
  font-size: clamp(0.75rem, 0.383rem + 1.73vw, 1.625rem);
  max-width: clamp(10.625rem, 0.551rem + 47.41vw, 34.625rem);
  line-height: 1.3;
}

.hero__button {
  padding: 15px 51px;
  background-color: var(--accent-color);

  font-weight: 400;
  font-size: 24px;
  color: var(--bg-color);
}

@media (width <= 1150px) {
  .hero__button {
    padding: 7px 26px;
  }
}
