.special__title {
  line-height: 1.1;
  margin-bottom: clamp(1.25rem, -0.121rem + 6.45vw, 3.75rem);
}

@media (width > 768px) {
  .special__title {
    font-size: 46px;
  }
}
@media (width <= 768px) {
  .special__title {
    font-size: 30px;
  }
}
@media (width <= 465px) {
  .special__title {
    font-size: 20px;
  }
}

.special__title-accent {
  color: var(--accent-color);
}

.special__choice {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  margin-bottom: 50px;
}

.special__choice-list {
  display: flex;
  flex-wrap: wrap;
}

@media (width > 768px) {
  .special__choice-list {
    font-size: 18px;
    gap: 20px;
  }
}
@media (width <= 768px) {
  .special__choice-link:first-child {
    display: none;
  }
  .special__choice-link:nth-child(2) {
    order: 4;
  }
  .special__choice-list {
    font-size: 12px;
    gap: 8px;
  }
}
@media (width <= 465px) {
  .special__choice-list {
    gap: 10px;
  }
}

.special__choice-link {
  border: 1px solid #111;
  border-radius: 31px;
  padding: 6px 20px 7px;

  transition: var(--transition);
}

@media (any-hover: hover) {
  .special__choice-link:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.special__choice-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.special__card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}

@media (width > 768px) {
  .special__card-content {
    padding: 40px;
  }
}
@media (width <= 768px) {
  .special__card-content {
    padding: 10px;
  }
}

.special__card-text {
  font-weight: 300;
  margin-bottom: 30px;
}

@media (width > 768px) {
  .special__card-text {
    height: 99px;
    line-height: 1.2;
    font-size: 24px;
  }
}
@media (width <= 768px) {
  .special__card-text {
    height: 48px;
    line-height: 1.3;
    font-size: 12px;
  }
}
@media (width <= 456px) {
  .special__card-text {
    height: 42px;
    line-height: 1.4;
    font-size: 10px;
  }
}

.special__card-price-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.special__card-price-availability {
  display: flex;
  align-items: center;
  color: #68ae5c;
}

.special__card-price-availability:before {
  content: "";
  display: inline-block;
  margin-right: 20px;

  background-color: currentColor;

  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Ccircle cx='6.5' cy='6.5' r='6.5'/%3E%3C/svg%3E")
    no-repeat center;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'%3E%3Ccircle cx='6.5' cy='6.5' r='6.5'/%3E%3C/svg%3E")
    no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.special__card-price-discount {
  border-radius: 3px;
  margin-left: auto;
  color: #f8f8f8;
  background-color: var(--accent-color);
}

.special__card-price {
  color: var(--main-color);
}

.special__card-old-price {
  text-decoration: line-through;
  color: #ababab;
  margin-left: auto;
  margin-top: auto;
}

@media (width > 768px) {
  .special__card-price-availability {
    font-size: 18px;
  }
  .special__card-price-availability:before {
    width: 13px;
    height: 13px;
  }
  .special__card-price-discount {
    font-size: 24px;
    padding: 8px 29px;
  }
  .special__card-price {
    font-size: 42px;
  }
  .special__card-old-price {
    font-size: 24px;
  }
}
@media (width <= 768px) {
  .special__card-price-availability {
    font-size: 12px;
  }
  .special__card-price-availability:before {
    width: 8px;
    height: 8px;
  }
  .special__card-price-discount {
    height: 20px;
    font-size: 16px;
    padding: 0 10px;
  }
  .special__card-price {
    font-size: 20px;
    margin-top: 11px;
  }
  .special__card-old-price {
    font-size: 12px;
  }
}
@media (width <= 456px) {
  .special__card-price-availability {
    font-size: 10px;
  }
  .special__card-price-availability:before {
    width: 10px;
    height: 10px;
  }
  .special__card-price-discount {
    font-size: 15px;
  }
  .special__card-price {
    font-size: 17px;
  }
  .special__card-old-price {
    font-size: 12px;
  }
}

.special__card-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 23px 30px;
  border: 1px solid #111;
  border-radius: 3px;
  font-size: 24px;
  line-height: 0%;
  color: var(--main-color);
}

@media (width > 768px) {
  .counter {
    width: 50%;
  }
}
@media (width <= 768px) {
  .counter {
    display: none;
  }
}

.counter__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.counter__btn {
  opacity: 1;
  cursor: pointer;
  transition: var(--transition);
}

.counter__btn--minus {
  transform: translateY(-5%);
}
.counter__btn--plus {
  transform: translateY(10%);
}

.special__card-to-cart {
  border-radius: 3px;
  color: #f8f8f8;
  text-align: center;
  background: var(--main-color);

  transition: var(--transition);
}

@media (width > 768px) {
  .special__card-to-cart {
    width: 50%;
    padding: 24px 0;
    font-size: 24px;
  }
}
@media (width <= 768px) {
  .special__card-to-cart {
    width: 100%;
    padding: 7px 0;
    font-size: 16px;
  }
}
@media (width <= 456px) {
  .special__card-to-cart {
    font-size: 15px;
  }
}

.special__card-to-cart:active {
  background-color: var(--accent-color);
}
@media (any-hover: hover) {
  .special__card-to-cart:hover {
    background-color: var(--accent-color);
  }
}

/* Обертка слайдера */
.special-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Контейнер слайдов */
.special-slider__container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

/* Отдельный слайд */
.special-slider__slide {
  flex: 0 0 100%;
  min-width: 100%;
}

/* Навигация */
.special-slider__nav {
  display: flex;
  gap: 20px;
}

@media (width > 768px) {
  .special-slider__nav {
    margin-top: 130px;
  }
}
@media (width <= 768px) {
  .special-slider__nav {
    margin-top: 40px;
  }
}
@media (width <= 456px) {
  .special-slider__nav {
    margin-top: 30px;
  }
}

/* Кнопки навигации */
.special-slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #111;
  border-radius: 3px;

  transition: var(--transition);
}

@media (any-hover: hover) {
  .special-slider__btn:hover:not(:disabled) {
    border-color: var(--accent-color);
  }
  .special-slider__btn:hover:not(:disabled) svg {
    color: var(--accent-color);
  }
}

.special-slider__btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.special-slider__btn svg {
  color: #111111;

  transition: var(--transition);
}

@media (width > 768px) {
  .special-slider__btn {
    padding: 13.5px;
  }
  .special-slider__btn svg {
    width: 35px;
    height: 35px;
  }
}
@media (width <= 768px) {
  .special-slider__btn {
    padding: 8px;
  }
  .special-slider__btn svg {
    width: 20px;
    height: 20px;
  }
}

/* Пагинация */
.special-slider__pagination {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.special-slider__current {
  margin-right: 3px;
}
.special-slider__separator {
  margin-right: 5px;
}

@media (width > 768px) {
  .special-slider__pagination {
    font-size: 24px;
  }
}
@media (width <= 768px) {
  .special-slider__pagination {
    font-size: 16px;
  }
}
@media (width <= 456px) {
  .special-slider__pagination {
    font-size: 15px;
  }
}
