@media (width > 768px) {
  .why__title {
    margin-bottom: 60px;
  }
}
@media (width <= 768px) {
  .why__title {
    margin-bottom: 40px;
  }
}
@media (width > 465px) {
  .why__title {
    margin-bottom: 30px;
  }
}

.why__grid {
  display: grid;
}

@media (width > 768px) {
  .why__grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (width <= 768px) {
  .why__grid {
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
  }
}

@media (width > 456px) {
  .why__grid {
    gap: 20px;
  }
}
@media (width <= 456px) {
  .why__grid {
    gap: 10px;
  }
}

.why__grid-card {
  display: flex;
  align-items: center;

  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

@media (width > 465px) {
  .why__grid-card {
    flex-direction: column;
    padding-block: 46px;
  }
}
@media (width <= 465px) {
  .why__grid-card {
    justify-content: space-around;
    padding-block: 30px;
    border-radius: 3px;
  }
}

@media (width > 768px) {
  .why__grid-card svg {
    margin-bottom: 20px;
  }
}
@media (width <= 768px) {
  .why__grid-card svg {
    width: 54px;
    height: 54px;
  }
}
@media (width > 456px) {
  .why__grid-card svg {
    margin-bottom: 16px;
  }
}

.why__grid-card-wrapper {
  display: flex;
  flex-direction: column;
}

@media (width > 465px) {
  .why__grid-card-wrapper {
    align-items: center;
  }
}
@media (width <= 465px) {
  .why__grid-card-wrapper {
    max-width: 180px;
    width: 100%;
  }
}

.why__grid-card-title {
  font-weight: 900;
  color: var(--second-color);
}

@media (width > 768px) {
  .why__grid-card-title {
    font-size: 20px;
    margin-bottom: 13px;
  }
}
@media (width <= 768px) {
  .why__grid-card-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
@media (width <= 465px) {
  .why__grid-card-title {
    font-size: 13px;
  }
}

.why__grid-card-text {
  font-weight: 300;
  line-height: 1.3;
  color: var(--second-color);
}

@media (width > 768px) {
  .why__grid-card-text {
    font-size: 18px;
  }
}
@media (width <= 768px) {
  .why__grid-card-text {
    font-size: 12px;
  }
}
@media (width > 465px) {
  .why__grid-card-text {
    text-align: center;
  }
}
