* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100vh;
}

.header {
	background-color: #f00;
	min-height: 100px;
}

.aside {
	background-color: #e2e20d;
}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
.header,
.footer {
	grid-column: 1 / 13;
}
.aside {
	grid-column: 1 / 3;
}
.main {
	grid-column: 3 / 13;
}

.container {
	padding: 0 120px;
	display: grid;
	justify-content: center;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.article {
	height: 300px;
}

@media (width <= 650px) {
	.aside {
		display: none;
	}
	.main {
		grid-column: 1 / 13;
	}
}