.footer {
  padding: 60px 0 40px;
  margin-top: auto;
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer__list {
  display: flex;
  gap: 60px;

  font-size: 16px;
  line-height: 1.3;
  color: #535755;
}
.footer__link {
  transition: all 0.4s;
}
.footer__link:hover {
  color: #3596ed;
}

.footer__border {
  border-bottom: 1px solid #d3cbd9;
  width: 100%;
  height: 0px;
}
.footer__copy {
  display: flex;
  gap: 4px;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}
