.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  border-bottom: 1px solid #d3cbd9;
}


/* ========================================= */

.header__tel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 240px;
  text-align: right;

  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}
.header__tel a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;

  transition: all .4s;
}
.header__tel a:hover {
  color: #3596ed;
}