:root {
  --general-text: #312c27;
  --accent-text: #1f1711;
  --general-bg: #fff9f4;
  --accent-bg: #ffe0cb;
  --accent-color: #ffa55c;
  --transition: all 0.4s;
  --border-radius: 20px;
}

.body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.body--opened-menu {
  overflow: hidden;
}
.body--opened-modal {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  min-height: 100%;
  width: 100%;
}

.main {
  flex-grow: 1;
}
.main__about {
  padding: 140px 0;
}
.main__program,
.main__gallery,
.main__testimonials {
  padding-bottom: 145px;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-text);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;

  border-radius: 60px;
  padding: 3px 15px;
  width: 100%;
  height: 62px;

  background: var(--accent-color);

  transition: var(--transition);
}
.button:hover {
  background: #ff9138;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  z-index: 6;
  inset: 0;
  background: #00000071;

  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
}
.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  padding: 0 60px 60px;
  max-width: 428px;
  background: var(--general-bg);
  border-radius: var(--border-radius);
}
.modal__cancel {
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal__cancel path,
.modal__cancel rect {
  transition: var(--transition);
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: #ac907a;
}
.modal__img {
  margin: -65px 0 15px 13px;
  max-width: 100%;
}
.modal__title {
  font-family: "Gabriola";
  font-size: 42px;
  line-height: 0.9;
  margin-bottom: 10px;
}
.modal__text {
  margin-bottom: 30px;
}
.modal__form-label {
  margin-bottom: 10px;
}

.field {
  position: relative;
  display: block;
}
.field span {
  position: absolute;
  font-size: 11px;
  top: 12px;
  left: 28px;
  color: #ac907a;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.field__input {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 19px 42px 19px 28px;
  border: 1px solid #ac907a;
  border-radius: 100px;
  transition: var(--transition);
}
.field__input:hover {
  border-color: var(--accent-color);
}
.field__input::placeholder {
  color: #ac907a;
  transition: var(--transition);
}
.field__input:hover::placeholder {
  color: var(--accent-color);
}
.field__input:focus {
  padding: 26px 42px 12px 28px;
}
.field__input:focus {
  padding: 26px 42px 12px 28px;
}
.field__input:focus + span {
  opacity: 1;
  visibility: visible;
}
