.header {
  background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}
.header__top-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header__logo {
  z-index: 6;
  max-width: 174px;
}
.header__logo img {
  width: 100%;
}
.nav__list {
  display: flex;

  gap: 4vh 40px;
}
.nav__link {
  display: block;
  position: relative;
  z-index: 1;
  padding: 5px 0;
}
.nav__link::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: -8px;
  left: -13px;

  width: 34px;
  height: 34px;
  border-radius: 50%;

  background: var(--accent-color);

  opacity: 0;
  transition: var(--transition);
}
.nav__link:hover::before {
  opacity: 1;
}

/* ========================================================= */

.burger-icon {
  display: none;
  align-items: center;
  justify-content: center;

  z-index: 6;

  width: 50px;
  height: 50px;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  position: relative;

  width: 30px;
  height: 3px;
  border-radius: 100px;

  background: var(--general-text);

  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: "";
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}
.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.header__hero {
  padding: 50px 0 140px;
}

.hero {
  padding: 50px 0 140px;
}
.hero__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  gap: 30px;
}
.hero__content {
  max-width: 520px;
}
.hero__info {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 20px;

  text-transform: uppercase;
  line-height: 1.6;

  color: #b197b2;
}
.hero__info span {
  display: flex;
  align-items: center;
}
.hero__info span::after {
  content: "";
  display: block;

  margin: 0 10px;

  border-radius: 50%;
  width: 4px;
  height: 4px;

  background: #b197b2;
}
.hero__info span:last-child::after {
  content: none;
}
.hero__title {
  margin-bottom: 30px;

  font-family: "Gabriola";
  font-style: normal;
  font-size: 8vh;
  line-height: 0.82;

  color: var(--accent-text);
}
.hero__text {
  margin-bottom: 40px;

  max-width: 360px;
}
.hero__button {
  max-width: 360px;
}

.hero__img {
  position: relative;

  margin-right: 247px;
}
.hero__img > img {
  max-width: 100%;
}
.hero__img-control {
  display: flex;
  position: absolute;
  align-items: center;
  text-align: left;

  bottom: 11%;
  left: calc(100% - 39px);
  gap: 10px;

  max-width: 200px;
}
.hero__img-control--mobile {
  display: none;
}

.hero__img-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 78px;
  height: 78px;

  border-radius: 50%;

  background: var(--accent-bg);
  box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
}
.hero__img-button {
  padding-left: 8.8px;
}

.hero__img-button::before {
  content: "";
  position: absolute;
  box-sizing: border-box;

  inset: 5px;
  border-radius: 50%;

  border: 1px solid var(--accent-color);

  opacity: 0;
  transition: var(--transition);
}
.hero__img-button:hover::before {
  opacity: 1;
}
